.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.075);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay.close {
    display: none;
  }
  
  .popup {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
  }
