@media screen and (max-width:600px){
    


    .myAreaBtnStart{
       display: flex;
       justify-content: center;
       
    }
    .footer-start-box{
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 100%;
        height: 38%;
        z-index: 0;
    box-sizing: border-box;
    left: 0%;
    background: #7D56A5;
    border: 1.5px solid #252525;
    border-radius: 40px 40px 0px 0px;
    flex-wrap: nowrap;
        display: flex;
       justify-content: center;
      
    }
    
    
    .route-area-link{
        position: relative;
        display: flex;
        justify-content: center;
        width: 111px;
        height: 111px;
    }
    
    .outBtn{
        display: flex;
        width: 111px;
        height: 111px;
        position: absolute;
    bottom: 30%;
    z-index: 5;
    background: #7D56A5;
    border-radius: 50%;
    border-top: 1.5px solid #252525;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .startOrengeBtn{
        position: absolute;
    z-index: 10;
    box-sizing: border-box;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    background: #F39C12;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    }
    
    
    .playTriangle{
        z-index: 11;
        box-sizing: border-box;
        position: absolute;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 22px solid #FFFFFF;
      }
    
    
    .startTitle {
        position: absolute;
        z-index: 15;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        top: 25%;
    }
    
    .explanation {
        margin-bottom: 0rem;
        text-align: center;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 5%;
        right: 3%;
        left: 3%;
        height: 59%;
        background: #FFFFFF;
        border: 1.5px solid #000000;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    
    .myEmojiDiv{
        position: absolute;
        height: 15%;
        width: 11%;
        bottom: 7%;
        right: 3%;
    }
    
    .leftEmoji{
        width: 90%;
    }
    
    }