  .submit {
    /*box-sizing: border-box; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* padding: 16px 33px; */
    /* gap: 8px; */
    /* width: 300px; */
    width: 94%;
    /* height: 48px; */
    height: 7.5%;
    left: 16px;
    left: 3%;
    top: 91%;
    /* top: 703px; */
    background: #f39c12;
    border: 2px solid #252525;
    box-shadow: 2px 2px 0px #d35400;
    border-radius: 80px;
  }
  .word {
    width: 52px;
    height: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

