.form-group>label {
    position: absolute;
    margin-left: 1.5rem;
    background-color: white;
    z-index: 3;
    margin-top: -0.8rem;
}

.form-control {
    position: relative;
    width: 24rem;
    height: 3.75rem;

    background: #FFFFFF;
    border: 1px solid #7D839D;
    border-radius: 12px;
}

.ta_box{
    display: flex;
    justify-content: center;
    margin: 1rem;
}