@media screen {

    .frame7 {



        box-sizing: border-box;

        position: absolute;
        width: 94%;
        height: 6.5vh;
        left: 3%;

        background: #FFFFFF;
        border: 2px solid #000000;
        box-shadow: 2px 2px 0px #D35400;
        border-radius: 80px;


        position: absolute;
        /* width: 51px;
height: 16px;
left: 182px;
top: 718px; */

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        /* identical to box height, or 114% */

        text-align: center;

        color: #252525;
    }
}