@media screen and (max-width: 600px) {
  .image {
    position: absolute;
    width: 70%;
    height: 50%;
    left: 20%;
    top: 20%;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;

    position: absolute;
    width: 167px;
    height: 93px;
    left: 124px;
    top: 15%;
  }
  .text {
    width: 167px;
    height: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 55px;
    text-align: center;
    color: #252525;
  }
  .btn {
    height: 30px;
    width: 50%;
    position: fixed !important;
    margin-top: 20%;
    top: 85% !important;
    left: 35% !important;
  }
  .rectangle1 {
    box-sizing: border-box;

    position: absolute;
    width: 382px;
    height: 135px;
    left: 1%;
    top: 70%;
    background: #eed4ec;
    border: 1.5px solid #252525;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 12%;
    justify-content: center;
    align-items: center;
    /* transform: rotate(2.46deg); */
  }
  .avg {
    color: purple;
  }
  .circle {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    /* display: inline-block; */
    background-color: #eed4ec;
    border: 1px solid black;
    /* position: absolute; */
    /* top: 1%; */
  }
  .image2 {
    display: flex;
    flex-direction: row;
    gap: 10%;
    position: absolute;
    top: 10%;
    left: 35%;
  }
  .person {
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
  }
}
