.back-purple {
    position: relative;    
}
.back-purple::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #7d56a5;
    border-radius: 20px;
    z-index: -1;
}
.right.back-purple::before {
    transform: rotate(2.3deg);
}
.left.back-purple::before {
    transform: rotate(-2.3deg);
}