.box{
    box-sizing: border-box;
position: absolute;
width: 55%;
height: 100%;
background: #FFFFFF;
border: 1.5px solid #252525;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
border-radius: 0px 40px 40px
}
.icon{
    color:#7D56A5;
    position: absolute;
    margin-left:18%;
    display: inline-block;
}

